<!-- Audio Template -->
<audio id="myAudio" class="audiodiv" onloadeddata="set_volume(0.3)">
 <source src="../../content/audio/hourglass.mp3" type='audio/mp3'>
 <source src="../../content/audio/hourglass.ogg" type='audio/ogg; codecs=vorbis'>
 Your user browser does not support the HTML5 Audio element.
</audio>
<button class="audiostyle glyphicon glyphicon-music" type="button" onclick="aud_play_pause()"></button>
<script>

function set_volume(vol) {
    document.getElementById("myAudio").volume = vol;
}

function aud_play_pause() {
  var myAudio = document.getElementById("myAudio");
  if (myAudio.paused) {
    myAudio.play();
  } else {
    myAudio.pause();
  }
}
</script>