<!-- Home Template -->
<div>
    
    <video autoplay loop poster="" id="c-bgvid">
        <source src="" type="video/webm">
        <source src="" type="video/mp4">
    </video>

    <div class="c-title">Orbit</div>

    <div class="c-contentbox">
        <div class="fadeline"></div>
        <div style="padding: 50px;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
    <div class="c-header">
        <div class="fadeline" style="margin-bottom: 4px;"></div>
        <div class="title-index">01</div>
        <div class="title-name">HOME</div>
    </div>
</div>

<!--[if lt IE 9]>
<script>
document.createElement('video');
</script>
<![endif]-->
