<!-- Home Template -->

    
    <video autoplay loop poster="" id="c-bgvid">
        <source src="" type="video/webm">
        <source src="" type="video/mp4">
    </video>

    <section class="c-table">
        <header class="c-row">
            <div class="c-cell-01 c-title f-title">{{homeData.Name}}</div>
        </header>

        <header class="c-row" >
            <div class="c-cell-02 c-contentbox f-contentbox">
                <div class="c-animated-border">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <line id="box" class="top" x1="0" y1="0" x2="800" y2="0" />
                        <line class="left" x1="0" y1="-450" x2="0" y2="-1000" />
                        <line class="bottom" x1="450" y1="450" x2="-450" y2="450" />
                        <line class="right" x1="490" y1="900" x2="490" y2="1550" />
                    </svg>
                </div>
                <div class="fadeline"></div>
                    <div class="c-paddingbox">
                        
                        <h3 filter:text> {{homeData.Title}} </h3>
                        
                        <p ng-repeat="paragraph in homeData.Description">{{paragraph}}</p></div>
                </div>
        </header>

        <header class="c-row">
            <div class="c-cell-03 c-header f-header">
                <div class="fadeline"></div>
                <div class="title-index">{{homeData.Index}}</div>
                <div class="title-name">{{homeData.LinkName}}</div>
            </div>
        </header>
    </section>
<!--[if lt IE 9]>
<script>
document.createElement('video');
</script>
<![endif]-->
