@import "Compass";
@import "base";
@import "../modules/gradients";
@import "../modules/animations";

/*/*----------------------------------------
    NAVIGATION:
    * contains all styles concerning nagivation elements
    * classes a nav- prefix
/*----------------------------------------*/

//Raw Layout
#nav-bot {
    display:inline-block;
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    width: 250px;
    height: 55px;
    margin-bottom: -10px;
    margin-top:0;
    margin-left: -125px;
    background: rgba(0, 0, 0, 0.05);
    border-top: dotted 1px rgba(255, 255, 255, 0.55);

    -moz-transition: height 1s;
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;

}

#nav-botline {
    position: absolute;
    margin-bottom:45px;
    bottom: 2.5%;
    width: 48%;
    left: 25%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    z-index:0;
}

#nav-bot:hover {
    height: 125px;
}

.nav-button {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 55px;
    border: dotted 1px rgba(0, 0, 0, 0.15);
    z-index: 1;
    overflow: hidden;

    @include gradient-four-horizontal(#f2f6f8, #d8e1e7, #b5c6d0, #e0eff9 );
    @include anim-movedown( movedown, 1, ease-out, 0.55s);
}

.nav-button:hover {
    width: 50px;
    height: 125px;
    visibility:visible;
    opacity:1;
    border: dotted 1px rgba(0, 0, 0, 0.15);
     @include gradient-four-horizontal(#ffffff, #f6f8f9, #cdd9df , #ffffff );
}

.nav-button:hover > .vertical-text{
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}

@keyframes expand {
    0% { max-height: 0; }
    100% { max-height: 100%; }
}

@-moz-keyframes expand {
    0% { max-height: 0%; }
    100% { max-height: 100%; }
}

@-webkit-keyframes expand {
    0% { max-height: 0%; }
    100% { max-height: 100%; }
}

@-moz-keyframes movedown {
    0% { -moz-transform: translateY(40px); }
    100% { -moz-transform: translateY(0); }
}

@-webkit-keyframes movedown {
    0% { -webkit-transform: translateY(40px); }
    100% { -webkit-transform: translateY(0); }
}

@keyframes movedown {
    0% { transform: translateY(40px); }
    100% { transform: translateY(0);  }
}

//Button Text
.vertical-text{
    position: absolute;
    top: 0;
    width: 50px;
    margin-top: 70px;
    font-size: 15px;
    z-index: 2;
    opacity:0.1;

    transition:visibility 0s linear 1.5s,opacity 1.5s linear;
    transform: rotate(90deg);
}

.vertical-text a {
    font-size: 15px;
    font-weight: bold;
    color: #2a2a2a;
}

.vertical-text a:hover {
    text-decoration: none;
    color: #607473;
}

span.glyphicon {
    font-size: 1.5em;
}

