@import "Compass";
@import "base";
@import "../modules/gradients";
@import "../modules/animations";

/*/*----------------------------------------
    NAVIGATION:
    * contains all styles concerning nagivation elements
    * classes a nav- prefix
/*----------------------------------------*/

//Raw Layout
#nav-border {
    display: block;
    position: relative;
    top: 100%;
    left: 50%;
    bottom: 67px;
    height: 1px;
    width: 600px;
    margin-left: -300px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#nav-bot {
    display: inline-block;
    position: absolute;
    bottom: -55px;
    left: 50%;
    width: 350px;
    height: 55px;
    margin-left: -175px;
    background: rgba(0, 0, 0, 0.05);
    border-top: dotted 1px rgba(255, 255, 255, 0.55);
   
    @include anim-height(1s);
}

#nav-bot:hover {
    height: 125px;
}

[id*="navbutton"]{
    visibility: hidden;
}

.nav-button {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 55px;
    border: dotted 1px rgba(0, 0, 0, 0.15);
    z-index: 1;
    visibility: visible;
    overflow: hidden;

    @include gradient-four-horizontal(#f2f6f8, #d8e1e7, #b5c6d0, #e0eff9 );
    @include anim-movedown( movedown, 1, ease-out, 0.55s);
}

.nav-button:hover {
    width: 50px;
    height: 125px;
    visibility:visible;
    opacity:1;
    border: dotted 1px rgba(0, 0, 0, 0.15);
     @include gradient-four-horizontal(#ffffff, #f6f8f9, #cdd9df , #ffffff );
}

.nav-button:hover > .vertical-text{
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}


.nav-button-next:before {
    font-family: 'Glyphicons Halflings'; 
    content:"\e080";
}

.nav-button-previous:before {
    font-family: 'Glyphicons Halflings'; 
    content:"\e079";
}

.nav-button-previous, .nav-button-next {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    color: rgba(255, 255, 255, 0.25);
    line-height: 2.5em;
    border: solid 5px rgba(255, 255, 255, 0.55);
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 2;
    overflow: hidden;
    visibility: visible;
    
    @include anim-movedown( movedown, 1, ease-out, 0.55s);
    @include anim-transition( 0.2s, ease-in-out);
}

.nav-button-previous:hover, .nav-button-next:hover{
    color: rgba(255, 255, 255, 0.75);
    border: 10px solid rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.27);
    line-height: 2em;
}

@-moz-keyframes movedown {
    0% { -moz-transform: translateY(40px); }
    100% { -moz-transform: translateY(0); }
}

@-webkit-keyframes movedown {
    0% { -webkit-transform: translateY(40px); }
    100% { -webkit-transform: translateY(0); }
}

@keyframes movedown {
    0% { transform: translateY(40px); }
    100% { transform: translateY(0);  }
}

